* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  line-height: 1.3; 
}
main {
  width: 100vw;
}


/* header */
header {
  display: flex;
  flex-direction: column;
  width: 100vw;  
}

.header {
  justify-content: center;
  align-items: center;
}
.header a {
  text-decoration: none;
}

/* Proffessions grid */
.box-1 {
  grid-area: box1;
  background-color: green;

}
.box-2 {
  grid-area: box2;
  background-color: yellow;
}
.box-3 {
  grid-area: box3;
  background-color: red;
}
.box-4 {
  grid-area: box4;
}
.box-5 {
  grid-area: box5;
}
.box-6 {
  grid-area: box6;
}
.box-7 {
  grid-area: box7;
}
.box-8 {
  grid-area: box8;
}

.xp {
  display: flex;
  grid-template-areas: 
  'box1 box2'
  'box3 box4'
  'box5 box6'
  'box7 box8';
  grid-column: 1fr 1fr;
  grid-row: repeat(2, 1fr );
  flex-wrap: wrap;
  width: 80vw;
  padding: 1.2rem;
}
.box {
  width: 50%;
}
#experience {    
  background-color: aquamarine;
  width: 100%;
}
#experience .job {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;  
  margin: .8rem;
  padding: 1.3rem;
  background-color: azure;

}
#experience .job h3 {
  margin-bottom: .5rem;
}
#education {
  padding: 1.2rem;
  background-color: bisque;
  width: 100%;
}

#education h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}



@media (min-width: 768px){
  body {
    font-size: 1.5rem;
    
  }
}
